{% extends "base.html" %}
{% block title %}ForeST consensus calculation{% endblock %}
{% block content %}

<p>This button performs the calculation of consensus spectrum in the MySQL Database, it takes a while to calculate so please to not close the page until you see the succesfully calculated message.</p>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul div class="alert alert-success" role="alert">
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
</form>
<form method="POST" action=""  novalidate align=center>
	<div>
		{{form.submit_signal()}}
        
       </div>
	

</form>
{% endblock %} 
