{% extends "base.html" %}
{% block title %}ForeST database{% endblock %}
{% block content %}
<p class="mx-auto">
    ForeST-OMFF is a Flask based application for the storage and analysis of spectra from DART-MS txt files. It has been implemented as a web application and a MYSQL database for storage.
    User Manual is available at https://github.com/jarquinsandra/Forest. If you have any questions or problems write to jarquinsandra@gmail.com.  
</p>
<div class = "container">
    <br><p>The ForeST© Database is a compilation of DART TOFMS spectra of the heartwood of CITES listed species and their look alike timbers as well as the spectra of commercially important woods.   This data was collected at the National Fish and Wildlife Forensic Laboratory.   The following institutions donated specimens to the ForeST© database (listed alphabetically):</p></br>
    <ul>
        <li>Department of Wood Science, Faculty of Forestry, University of British Columbia, Vancouver, Canada</li>
        <li>Kew Royal Botanic Gardens, Richmond, London, UK </li>
        <li>Laboratorio de Dendrocronología e Historia Ambiental, IANIGLA, CCT CONICET Mendoza, Argentina </li>
        <li>Naturalis Biodiversity Center, Leiden, The Netherlands</li>
        <li>Royal Museum for Central Africa, Tervuren, Belgium</li>
        <li>Smithsonian National Museum of Natural History, Washington DC, USA</li>
        <li>The Australian National University, Canberra, Australia</li>
        <li>The Burke Museum of Natural History and Culture, Seattle Washington, USA</li>
        <li>Universidad Autónoma Gabriel René Moreno, Facultad de Ciencias Agrícolas, Santa Cruz, Bolivia</li>
        <li>Universidad de Chile, Facultad de Ciencias Forestales y de la Conservación de la Naturaleza, Santiago, Chile</li>
        <li>USDA Forest Product Laboratory, Madison, Wisconsin, USA</li>
        <li>Xiloteca del Instituto de Biologia, Universidad Nacional Autónoma de México, Coyoacán, Mexico</li>
      </ul>
</div>

        
{% endblock %}